@{
    ViewData["Title"] = "Política de privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Atividade desenvolvida durante o microfundamento de Desenvolvimento web back-end - segundo semestre do curso de ADS PUC Minas Virtual</p>
